node_modules
nwrfcsdk
nwrfcsdk_arm
nwrfcsdk_linux
sapnwrfc.ini
frontend/node_modules
.env.development
.env.production
.env.*
frontend/.env.development
frontend/.env.production
frontend/dist
dev_rfc.log
_noderfc.log
public
ssl
*.sh
